/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

/* CircularStd @font-face kit */
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Black.eot');
  src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CircularStd-Black.woff') format('woff'),
    url('../fonts/CircularStd-Black.ttf') format('truetype'),
    url('../fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-BlackItalic.eot');
  src: url('../fonts/CircularStd-BlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/CircularStd-BlackItalic.woff') format('woff'),
    url('../fonts/CircularStd-BlackItalic.ttf') format('truetype'),
    url('../fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Bold.eot');
  src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CircularStd-Bold.woff') format('woff'),
    url('../fonts/CircularStd-Bold.ttf') format('truetype'),
    url('../fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-BoldItalic.eot');
  src: url('../fonts/CircularStd-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/CircularStd-BoldItalic.woff') format('woff'),
    url('../fonts/CircularStd-BoldItalic.ttf') format('truetype'),
    url('../fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Medium.eot');
  src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CircularStd-Medium.woff') format('woff'),
    url('../fonts/CircularStd-Medium.ttf') format('truetype'),
    url('../fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-MediumItalic.eot');
  src: url('../fonts/CircularStd-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/CircularStd-MediumItalic.woff') format('woff'),
    url('../fonts/CircularStd-MediumItalic.ttf') format('truetype'),
    url('../fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Book.eot');
  src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CircularStd-Book.woff') format('woff'),
    url('../fonts/CircularStd-Book.ttf') format('truetype'),
    url('../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-BookItalic.eot');
  src: url('../fonts/CircularStd-BookItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/CircularStd-BookItalic.woff') format('woff'),
    url('../fonts/CircularStd-BookItalic.ttf') format('truetype'),
    url('../fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd')
      format('svg');
  font-weight: 400;
  font-style: italic;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  height: 100vh;
  font-family: 'CircularStd', Arial, Helvetica, Helvetica Neue, serif;
  overflow-x: hidden;
  color: white;
  background-color: #dae0e6;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}

p {
  font-size: 1.5rem;
}

li {
  list-style: none;
}

a {
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.row {
  height: 100vh;
}

.sidebar {
  width: 4.875rem;
  height: 100vh;
  background-color: white;

  /* padding: 1em; */
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.nav-item {
  text-align: left;
  padding-bottom: 7px;
  padding-left: 12px;
  display: flex;
  padding-top: 7px;
}

.nav-logo {
  height: 50px;
  border-radius: 50%;
  border: 3px gray solid;
}

.nav-item--bottom {
  position: relative;
  text-align: center;
  margin-top: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3b67dd;
  font-size: 1.5rem;
  min-height: 70px;
}

.nav-clickable {
  cursor: pointer;
}

.search {
  padding-left: 22px;
}

.subreddit-name {
  font-weight: 600;
  color: black;
  padding-left: 10px;
  font-size: 16px;
  margin-top: 10px;
  transition: visibility 0.3s ease 0s;
  cursor: pointer;
}

.download-status {
  align-self: end;
  margin: auto 10px auto auto;
  transition: opacity 0.2s ease 0.2s;
}

.subreddit-posts {
  width: 100%;

  /* background-color: #929aa0; */
  background-color: #dae0e6;
}

.sidenav-arrow {
  position: absolute;
  transition: left 0.3s ease 0s;
  bottom: 20px;
  z-index: 1;
}

.flex {
  display: flex;
}
